

  .topnav {
    background-color: rgb(204, 151, 38);
    overflow: hidden;
  }
  .topnav a {
    float:left;
    color: #2a4c63;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

.column {
    float: left;
    width: 45%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .column2{
    float: right;
    width: 45%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color:rgb(204, 151, 38);
    color: white;
  }
  
  .container {
    padding: 0 24px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  footer{
      color:white;
      background-color:rgb(204, 151, 38);
  }
  a{
      color: white;
      background-color: transparent;
      text-decoration: underline;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  } 

 .Banner{
    position: relative;
    text-align: center;
    color: white;
    height: 10;
    width: 10;
 }
 .Descrition{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color:black;
    background-color: coral;
    
 }
 .BannerImg{
    max-width: 100%;
    height: auto;

 }

 .ImageBox1{
   display:block;
   margin-left: 10;
   font-family: monospace;
   margin-right:10;
   background-color: rgb(228, 181, 82);
 }

 .ImageBox2{
  display:block;
  margin-left: 10;
  font-family: monospace;
  margin-right:10;
  background-color: rgb(228, 181, 82);
 }
 .ImageBox3{
  display:block;
  margin-left: 10;
  font-family: monospace;
  margin-right:10;
  background-color: rgb(228, 181, 82);
 }
 .ImageBox4{
  display:block;
  margin-left: 10;
  font-family: monospace;
  margin-right:10;
  background-color: rgb(228, 181, 82);
 }
 h5{
   font-size:x-large;
   font-family: monospace;
 }
 h3{
   font-size: x-large;
 }
 .body1{
   background-color:white;
 }
 .CatalogH2{
   background-color: rgb(228, 181, 82);
 }
 

 .topnav1 {
  background-color: rgb(204, 151, 38);
  overflow: hidden;
}
.topnav1 a {
  float: left;
  color: #2a4c63;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav1 a:hover {
  background-color: #ddd;
  color: black;
}
.topnav1 a.active {
  background-color: #4CAF50;
  color: white;
} 




.donate{
  background-color: coral; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}


input[type=text]{
  align-items: center;
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=number]{
  align-items: center;
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=email]{
  align-items: center;
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


